{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block javascript %}
<script>
   $(function () {
      document.getElementById('id_RenewDate').addEventListener('input', function() {
         var startDate_string = $("#id_RenewDate").val();
         var years_string = $("#id_InstallDuration").val();
         var years  = parseFloat( years_string )
         var startDate = moment(startDate_string);
         var endDate = startDate.add( years, 'years').format('YYYY-MM-DD');
         $("#id_ExpiryDate").val(endDate);

     });

     document.getElementById('id_InstallDuration').addEventListener('input', function() {
       var years_string = $("#id_InstallDuration").val();
       var startDate_string = $("#id_RenewDate").val();
       var years  = parseFloat( years_string )
       var startDate = moment(startDate_string);
       var endDate = startDate.add( years, 'years').format('YYYY-MM-DD');
       $("#id_ExpiryDate").val(endDate);
     });

     document.getElementById('id_TotalAmount').addEventListener('input', function() {
         var total = $("#id_TotalAmount").val();
         var received = $("#id_AmountReceived").val();
         var remaining = parseFloat(total) - parseFloat(received )
         $("#id_RemainingAmount").val(remaining);

     });

     document.getElementById('id_AmountReceived').addEventListener('input', function() {
         var total = $("#id_TotalAmount").val();
         var received = $("#id_AmountReceived").val();
         var remaining = parseFloat(total) - parseFloat(received )
         $("#id_RemainingAmount").val(remaining);

     });

   });




</script>
{% endblock %}
<h1 class="row mx-5 py-3" style="color:#797ff6;">Renew Subscription</h1>
<div class="row mx-5 ">
<div class="col-sm-7 p-0 py-2 pr-3">
   <form method="post" class="w-100 ">
      {% csrf_token %}
      <div id="div_id_Name" class="form-group">
         <label for="id_subscription" class=" requiredField">
         Subscription<span class="asteriskField">*</span>
         </label>
         <div class="">
            <input type="text" name="Subscription" maxlength="250" class="textinput textInput form-control" required="" id="id_subscription" value="{{ sub.id }}" readonly >
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 mb-0">
            {{ form.InstallDuration|as_crispy_field }}
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 mb-0">
            {{ form.RenewDate|as_crispy_field }}
         </div>
         <div class="form-group col-md-6 mb-0">
            {{ form.ExpiryDate|as_crispy_field }}
         </div>
      </div>
      {% if sub.RemainingAmount > 0 %}
      <div class="form-row">
         <div class="form-group col-md-6 mb-0">
            {{ form.TotalAmount|as_crispy_field }}
         </div>
         <div class="form-group col-md-6 mb-0">
            {{ form.RemainingAmount|as_crispy_field }}
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 mb-0">
            {{ form.AmountReceived|as_crispy_field }}
         </div>
         <div class="form-group col-md-6 mb-0">
            <div id="Amount" class="form-group">
               <label for="AmountReceived" class=" requiredField">
               Add payment<span class="asteriskField">*</span>
               </label>
               <div class="">
                  <input type="number" name="add payment" value="0" min="0" max= " {{ sub.RemainingAmount }}"class="textinput textInput form-control"  id="AmountReceived">
               </div>
            </div>
         </div>
      </div>
      <button type="submit" class="btn btn-primary">Update Subscription</button>
      {% else %}
      <div class="form-row">
         <div class="form-group col-md-4 mb-0">
            {{ form.TotalAmount|as_crispy_field }}
         </div>
         <div class="form-group col-md-4 mb-0">
            {{ form.AmountReceived|as_crispy_field }}
         </div>
         <div class="form-group col-md-4 mb-0">
            {{ form.RemainingAmount|as_crispy_field }}
         </div>
      </div>
      <button type="submit" class="btn btn-primary">Renew Subscription</button>
      {% endif %}
   </form>
</div>
</div>
{% endblock content %}