{% extends "base.html" %}

{% block content %}

{% block javascript %}
<script>
 $(document).ready(function() {
    $('#datatable').DataTable();
 } );
</script>
{% endblock javascript %}

<div class="col-lg px-5 py-3 tablecontent">
    <h1>Client List</h1>
    <table id="datatable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Company Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Number of subscriptions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{%url 'customerdetail' customer.id %}">{{ customer.id }}</a></td>
                <td><a href="{%url 'customerdetail' customer.id %}">{{ customer.Name  }}</a></td>
                <td>{{ customer.City }}</td>
                <td>{{ customer.Contact_Person }}</td>
                <td>{{ customer.Email }}</td>
                <td>{{ customer.Contact_Person_MobileNo }}</td>
                <td>tbd</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>



{% endblock content %}