<!DOCTYPE html>
<html lang="en">
   <head>
      {% load static %}
      <meta charset="UTF-8">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
      <link href="{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Audiowide|Exo+2|Monoton|Prosto+One|Russo+One|Titillium+Web|Lexend+Giga|Noto Sans" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
      <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,500;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
   </head>
   <body>
      <div class="roww " id="body-row" style="font-family: 'Jost', sans-serif;">
         <!-- Sidebar -->
         <div id="sidebar-container" class="sidebar ">
            <div class="h-75">
               <a class="navbar-brand w-100" href="{% url 'dashboard' %}">
               <span class="navlogo w-100" >CSTC <br>Software Solutions</span>
               </a>
               <!-- Bootstrap List Group -->
               <ul class="list-group mb-5" id="menulist">
                  <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action rounded menus " id="dashboard">
                     <div class="d-block w-100 ">
                        <i class="fas fa-th-large "></i> Dashboard
                     </div>
                  </a>
                  <a href="{% url 'customers' %}" class="list-group-item list-group-item-action  menus rounded" id="customers">
                     <div class="d-block w-100 ">
                        <i class="fas fa-users"></i> Clients
                     </div>
                  </a>
                  <a href="{% url 'subscriptions' %}" class="list-group-item list-group-item-action rounded menus" id="subscription">
                     <div class="d-block w-100 ">
                        <i class="fas fa-business-time"></i> Subscriptions
                     </div>
                  </a>
                  <a href="{% url 'addcustomers' %}" class="list-group-item list-group-item-action rounded menus" id="addcustomers">
                     <div class="d-block w-100 ">
                        <i class="fas fa-user-plus"></i> Add Client
                     </div>
                  </a>
                  <a href="{% url 'newsubscription' %}" class="list-group-item list-group-item-action rounded menus" id="newsubscription">
                     <div class="d-block w-100 ">
                        <i class="fas fa-money-check-alt"></i> New Subscription
                     </div>
                  </a>
               </ul>
            </div>
            <div class="logout h-25 p-0 d-flex align-items-end flex-column ">
               <a class=" btn-block  btn-danger rounded btn-logout mt-auto text-center align-content-center " href="{% url 'logout' %}" id="logout"> Logout </a>
            </div>
         </div>
         <div class="container-expand-lg viewcontents " >
            {% block content %}
            {% endblock content %}
         </div>
      </div>
   </body>
   <script>
      var urlString = document.location.href;
      var urlArray = urlString.split('/');
      var pageHREF = urlArray[urlArray.length-1];
      var pageHREF2 = urlArray[urlArray.length-3];
      if(pageHREF !==""){
          var menu = document.querySelectorAll('ul#menulist a');
          var i;


          for(i=0; i<menu.length; i++){
              if(pageHREF2 === 'customerdetail'){
                      menu[1].className="activee";
                  }
              var currentURL=(menu[i].getAttribute("id"));
              menu[i].className="menus";
              if(currentURL == pageHREF){
                  menu[i].className="activee";
              }
          }
      }
      if(pageHREF2 !==""){
          var menu = document.querySelectorAll('ul#menulist a');
          var i;
          for(i=0; i<menu.length; i++){

              var currentURL=(menu[i].getAttribute("id"));
              menu[i].className="menus";
              if(pageHREF2 === 'customerdetail' || pageHREF2 === 'customerupdate'){
                      menu[1].className="activee";
                  }
              if(pageHREF2 === 'subscriptiondetail' || pageHREF2 === 'renew'){
                    menu[2].className="activee";
              }
          }
      }
   </script>
</html>